/* 页尾居中(版权信息等) */
.footer {
    text-align: center;
    margin-top: 10px;
    border-top: 1px solid #CCCCCC;
    padding-top: 10px;
}

/* 设置表单的文本区域的宽度 */
.container .content textarea {
    width: 80%;
}

/* 设置表单的文本输入框宽度 */
.container .content .input-xxlarge {
    width: 80%;
}

/* 管理按钮的间距 */
.container td span.action {
    margin-right: 10px;
}


/* 文章内容页样式 */
body {
    color: #666666;
}
.article-content {
    padding-bottom: 10px;
    padding-top: 0;
    background-color: white;
    font-family: Helvetica,Tahoma,arial,sans-serif;
    font-size: 14px;
    line-height: 1.6;
    min-height: 120px;
}
/* H标题的样式 */
.article-content h1, .article-content h2, .article-content h3, .article-content h4 {
    font-weight: bold;
    margin: 20px 0 10px;
    padding: 0;
    position: relative;
}
.content h1 {
    font-size: 22px;
}
.article-content h2 {
    border-bottom: 1px solid #CCCCCC;
    color: #333333;
    font-size: 24px;
}
.article-content h3 {
    color: #333333;
    font-size: 18px;
    text-shadow: none;
}
.article-content h4 {
    font-size: 16px;
}
.article-content p, .article-content ul, .article-content ol, .article-content li, .article-content table, .article-content pre {
    margin: 15px 0;
}
/* 元信息的样式 */
.article-meta {
    color: #999999;
    font-size: 12px;
    line-height: 24px;
}
.article-meta ul {
    list-style: none;
    margin: 0;
}
.article-meta li {
    float: left;
    margin-right: 5px;
}
.article-meta li a {
    color: #999999;
    text-decoration: underline;
}
/* 正文超链接的样式 */
.article-content p a {
    color: #FF6600;
}
/* 行内代码的样式 */
.article-content code {
    background-color: #F8F8F8;
    border: 1px solid #EAEAEA;
    border-radius: 3px 3px 3px 3px;
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
    color: #666666;
    font-style: normal;
    font-weight: normal;
    font-family: monospace;
}

/* 设置边栏样式 */
.sidebar h2 {
    font-size: 18px;
    color: #666666;
    margin-bottom: 10px;
    padding-bottom: 2px;
    border-bottom: 2px solid #DDDDDD;
}
.sidebar ul {
    list-style-type: none;
    margin: 0;
    text-align: justify;
}
.sidebar .recommends ul {
    text-align: left;
}
.sidebar li {
    /* float: left; */
    margin-right: 10px;
    display: inline;
    white-space: nowrap;
}
.sidebar div {
    margin-bottom: 10px;
}
.sidebar span.more {
    float: right;
    line-height: 43px;
    margin-right: 5px;
}

/* 设置标签云页面的样式 */
ul.tags-cloud {
    list-style-type: none;
    margin: 0;
}
ul.tags-cloud li {
    margin-right: 10px;
    display: inline;
    white-space: nowrap;
}
